@import "../../index.scss";

.ModalOverlay {
    @extend %overlay;
    background-color: rgba(0, 0, 0, 0.63);

    .Modal {
        position: relative;
        padding: 1rem;
        background-color: white;
        border-radius: 10px;
        width: 60%;


        .ModalCloser {
            position: absolute;
            right: 0.5rem;
            top: 0.075rem;
            font-family: sans-serif;
            color: rgba($color: #000000, $alpha: 0.6);
        }
    }
}