body {
    margin: 0;
}

.block {
    display: block;
    padding: 8px;
    margin: 4px 0px;
    background-color: teal;
}

.inline {
    display: inline;
    padding: 8px;
    margin: 0px 4px;
    background-color: purple;
}

.inline-block {
    display: inline-block;
    padding: 8px;
    margin: 0px 4px;
    background-color: yellow;
}

.none {
    display: none;
    height: 100px;
    background-color: black;
    /* visibility: hidden; */
}