@import url(./theme.css);

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: thin solid var(--primary-background);
}

.logo {
    width: 5rem;
}

.logout-btn {
    padding: 0.25rem 1rem;
    background-color: var(--primary-background);
    border-radius: 4px;
    color: var(--primary-color);
    cursor: pointer;
}

.logout-btn:hover {
    color: var(--hover-color);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
}