* {
    margin: 0;
    padding: 0;
    font-size: initial;
}

.flex {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    /* gap: 1rem; */
}

.flex-item {
    padding: 1rem;
    background-color: darkgrey;
    margin: 1rem;
}