.Server {
    padding: 1rem;
    border: thin solid #cecece;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}

.Status {
    padding: 0.25rem;
    border-radius: 4px;
    align-self: center;
}

.Status__Online {
    background-color: rgb(27, 176, 27);
    color: white;
}

.Status__Offline {
    background-color: red;
    color: white;
}